
/* TODO: Label selector type */
body {
  background-color: rgb(158, 158, 155);
}
h1 {
  background-color: rgb(158, 158, 155);
  color: white;
  font-family: papyrus;
  font-size: 100px;
  text-align: center;
  text-decoration: underline;
  font-style: normal;

}
header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: rgb(158, 158, 155);
}

figure {
  width: 200px;
  background-color: rgb(158, 158, 155);
  color: white;
}

/* TODO: Label selector type */
.highlighted-text {
  font-weight: lighter;
  color: white;
}

/* TODO: Label selector type */
h2 {
  background-color: reg(158, 158, 155);
  color: white;
  font-family: papyrus;
  font-weight: lighter;
  
}

li {
  color: white;
}