* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*reset margin and padding*/

body {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2%;
  background-image: url(../Images/Sleek2.jpg);
  background-repeat: no-repeat;
}
/*sets the body style*/
nav {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: white;
}

h1 {
  color:lightblue;
  display: flex;
  justify-content: flex-start;
} 

h3 p {
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.main-header {
  border: 5px solid white;
  border-width: 5px;
  padding-top: 20px;   
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 80px;
  align-items: center;
  justify-content: space-between;
}

.main-header h1 {
  display: inline-block;
  font-size: 60px;
}

nav ul li {
  margin-left: 25px;
  display: inline-block;
  color: white;
}

a:visited {
    color: white;
}

a:hover {
  color: lightblue;
  zoom: 150%;
  display: block;
}
  
a:active {
    color: purple;
}

img {
  width: 25%;
}

#Content {
  text-align: center;
  border: 5px solid white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 30px;
  padding-left: 50px;
}

.Biography, .Portfolio {
  border: 5px solid white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  display: flex;
  font-size: 60px,
}

section {
  display: flex;
  flex-direction: column; 
  padding-top: 15px 0;
  border: white;
  display: inline-block;
  border: solid
}

.ContactMe {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: inline;
  border: 5px solid white;
  background-color: darkgrey;
  font-size: 35px;
  color: black;
}


.ContactMe a {
  font-size: 20px;
}

.ContactMe a:visited {
    color: white;
}

.ContactMe a:hover {
    color: rgb(230, 20, 20);
    zoom: 150%;
    display: block;
}
.ContactMe a:active {
  color: rgb(232, 247, 27);
}
  
h4 {
  font-size: 50px;
}

footer p {
  text-align: center;
  background-color: darkgrey;
  font-size: 30px;
  color: black;
}
 @media screen and (max-width: 768px) {
  footer, header {
    background-color: purple;
  }
 }

 @media screen and (max-width: 768px) {
   #ContactMe {
     background-color: purple;
   }
 }
