* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*reset margin and padding*/

body {
  color: white;
  padding: 20px;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(../Images/Sleek2.jpg);
}
/*sets the body style*/
nav {
  padding-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: white;
}

.main-header {
  border: 5px solid white;
  border-width: 5px;
  padding-top: 20px;   
  padding-right: 30px;
  padding-bottom: 300px;
  padding-left: 80px;
}

.main-header h1 {
  display: inline-block;
  font-size: 75px;
  color: lightblue;
}

nav ul li {
  margin-left: 5px;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse; 
  justify-content: flex-start;
}

li a {
  color: white;
}
/* makes navigation links white*/

a:visited {
    color: white;
}

a:hover {
  color: lightblue;
  zoom: 150%;
  display: block;
}
  
a:active {
    color: purple;
}

img  {
  width: 15%;
}

#Content {
  display: flex;
  justify-content: right;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 50px;
  padding-top: 0px;
}

.Biography h2 {
  font-size: 50px;
  color: lightblue;
  text-align: left;
}

.Biography p {
  font-size: 25px;
  text-align: center;
}

.Portfolio h3 {
  font-size: 50px;
  text-align: center;
  color: lightblue;
}
.Portfolio p {
  font-size: 25px;
}

.Biography, .Portfolio {
  border: 5px solid white;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  display: flex;
  justify-content: space-around;
}

/* Resized portfolio photos to fit on the page*/
.Portfolio img {
  display: inline-flex;
  width: 100%;
}

/*EVERTHING BELOW HERE I AM CONTENT WITH*/
.ContactMe {
  text-align: center;
  padding: 30px;
  border: 5px solid white;
  background-color: darkgrey;
  font-size: 35px;
  color: black;
}

.ContactMe a {
  font-size: 18px;
  color: white;
  display: inline-block;
}

.ContactMe a:visited {
    color: white;
}

.ContactMe a:hover {
    color: lightblue;
}

.ContactMe a:active {
  color: purple;
}
  
footer p {
  text-align: center;
  background-color: darkgrey;
  font-size: 30px;
  color: black;
}
 @media screen and (max-width: 768px) {
  footer, header {
    background-color: purple;
  }
 }

 @media screen and (max-width: 768px) {
   #ContactMe {
     background-color: purple;
   }
 }
