body {
  color: white;
  padding: 20px;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(../Images/Sleek2.jpg);
  background-size: cover;
  background-position: center;
}
/*sets the body style and adds an image to the background*/

.main-header {
  border: 10px solid white;
  border-width: 5px;
  padding-top: 40px;   
  padding-right: 30px;
  padding-bottom: 150px;
  padding-left: 80px;
}

.amy {
  color: lightblue;
  font-size: 60px;
  display: flex;
  margin: 25px;
}
/* this set the size and color of my header */

.nav-link {
  margin-top: 30px;
  margin-left: 10px;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse; 
  justify-content: flex-start;
}
/* styles and positions my navigation*/

.nav-link:hover {
  color: purple;
}
/*changes navigation color when hover over */
  
.nav-link:active {
    color: lightblue;
}
/*changes the navigation link when it is clicked */

.Content {
  display: flex;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 50px;
  padding-top: 0px;
}
/* sets up my flexbox for my biography */
.Biography {
  display: flex;
  padding: 2rem;
  border: 10px solid white;
}


.Biography h2 {
  font-size: 50px;
  color: lightblue;
  text-align: left;
}

.Biography p {
  font-size: 25px;
  padding: 1rem;
}

.amyshead img {
  object-fit: contain;
}

.Portfolio {
  border: 5px solid white;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 200px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Portfolio h3 {
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
  color: lightblue;
}

.Portfolio p {
  font-size: 25px;
}

.projectcontainer {
  display: flex;
  flex: 50%;
  max-width: 90%;
  margin-top: 80px;
  position: relative;
}

/* Resized portfolio photos to fit on the page*/
.Portfolio img {
 width: 65%;
 border: 5px solid grey;
 padding: 5px;
}

.overlay {
  font-size: 30px;
  color: lightblue;
  margin: 6px;
}

.projectimage:hover {
  zoom: 5;
}

/*EVERTHING BELOW HERE I AM CONTENT WITH*/
.ContactMe {
  text-align: center;
  padding: 60px;
  border: 5px solid white;
  background-color: darkgrey;
  font-size: 35px;
  color: black;
}

.ContactMe a {
  font-size: 18px;
  color: white;
  display: inline-block;
}

.contactinfo:visited {
    color: white;
}

.contactinfo:hover {
    color: lightblue;
}

.contactinfo:active {
  color: purple;
}

footer h5 {
  text-align: center;
  background-color: darkgrey;
  font-size: 30px;
  color: black;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
 @media screen and (max-width: 768px) {
  footer, header {
    background-color: purple;
    text-align: center;
  }
 }

@media screen and (max-width: 768px) {
   #ContactMe {
    background-color: purple;
  }
 }